/**************************************/
/*                                    */
/* !Typography                        */
/*                                    */
/**************************************/

@use "sass:math";
// function for fluid typography
@function strip-unit($value) {
@return math.div($value, ($value * 0 + 1));
}

/* open-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v43-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-v43-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v43-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v43-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/open-sans-v43-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/open-sans-v43-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v43-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v43-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v43-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-v43-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v43-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/open-sans-v43-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$open-sans: 'Open Sans', 'sans-serif';

/* kanit-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/kanit-v16-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/kanit-v16-latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/kanit-v16-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/kanit-v16-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/kanit-v16-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/kanit-v16-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kanit-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/kanit-v16-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/kanit-v16-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/kanit-v16-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/kanit-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/kanit-v16-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/kanit-v16-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/kanit-v16-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/kanit-v16-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/kanit-v16-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/kanit-v16-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kanit-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/kanit-v16-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$kanit: 'Kanit', 'sans-serif';

$min_width: 480px;
$max_width: 1920px;

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);
	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

body {
	font-family: $open-sans;
	color: $copy-color;
	font-weight: 300;
	word-break: break-word;
	@include fluid-type($min_width, $max_width, 14px, 16px);

	@media screen and (max-width:1440px) {
		@include fluid-type($min_width, $max_width, 14px, 14px);
	}
}

h1, .h1 {
	font-family: $kanit;
	font-weight: 700;
	color: inherit;
	@include fluid-type($min_width, $max_width, 32px, 48px);
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h2, .h2 {
	font-family: $kanit;
	font-weight: 700;
	color: inherit;
	@include fluid-type($min_width, $max_width, 32px, 48px);
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
}
  
h3, .h3 {
	font-family: $kanit;
	color: inherit;
	@include fluid-type($min_width, $max_width, 28px, 36px);
	font-style: italic;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

h4, .h4 {
	font-family: $kanit;
	color: inherit;
	@include fluid-type($min_width, $max_width, 22px, 28px);
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

h5, .h5 {
	font-family: $kanit;
	font-weight: 300;
	color: inherit;
	@include fluid-type($min_width, $max_width, 18px, 22px);
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.lead-text {
	font-family: $open-sans;
	font-weight: 400;
	@include fluid-type($min_width, $max_width, 18px, 22px);
}

.lead-text {
	font-family: $open-sans;
	font-weight: 400;
	@include fluid-type($min_width, $max_width, 18px, 22px);
}

/**************************************/
/* !- Register Font Face              */
/**************************************/

// @font-face {
//   font-family: 'icomoon';
//   src:  url('../fonts/icomoon.eot?v1hlgj');
//   src:  url('../fonts/icomoon.eot?v1hlgj#iefix') format('embedded-opentype'),
// 	url('../fonts/icomoon.ttf?v1hlgj') format('truetype'),
// 	url('../fonts/icomoon.woff?v1hlgj') format('woff'),
// 	url('../fonts/icomoon.svg?v1hlgj#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r2ordr');
  src:  url('../fonts/icomoon.eot?r2ordr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r2ordr') format('truetype'),
    url('../fonts/icomoon.woff?r2ordr') format('woff'),
    url('../fonts/icomoon.svg?r2ordr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/**************************************/
/* !- Icon Font                       */
/**************************************/

// %font-icon,
// [class^="icon-"],
// [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// /* !-- Social Media Icons */
// .icon-tiktok::before {
//   content: '\e900';
// }
// .icon-x::before {
//   content: '\e901';
// }
// .icon-facebook-square::before {
//   content: '\e902';
// }
// .icon-facebook::before {
//   content: '\ea90';
// }
// .icon-instagram::before {
//   content: '\ea92';
// }
// .icon-youtube::before {
//   content: '\ea9d';
// }
// .icon-linkedin-square::before {
//   content: '\eac9';
// }
// .icon-linkedin::before {
//   content: '\eaca';
// }
// .icon-pinterest::before {
//   content: '\ead1';
// }

// /* !-- Credit Card Icons */
// .icon-cc-visa::before {
//   content: '\f1f0';
// }
// .icon-cc-mastercard::before {
//   content: '\f1f1';
// }
// .icon-cc-discover::before {
//   content: '\f1f2';
// }
// .icon-cc-amex::before {
//   content: '\f1f3';
// }
// .icon-cc-paypal::before {
//   content: '\f1f4';
// }
// .icon-cc-stripe::before {
//   content: '\f1f5';
// }
// .icon-apple-pay::before {
//   content: '\e903';
// }
// .icon-google-pay::before {
//   content: '\e904';
// }

// /* !-- Other Icons */
// .icon-share::before {
//   content: '\ea82';
// }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24-7:before {
  content: "\e900";
}
.icon-agricultural:before {
  content: "\e901";
}
.icon-basket:before {
  content: "\e902";
}
.icon-car:before {
  content: "\e903";
}
.icon-circle:before {
  content: "\e904";
}
.icon-cross:before {
  content: "\e905";
}
.icon-delivery-truck:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-image:before {
  content: "\e908";
}
.icon-industrial:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-login:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-square-bg:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-tick:before {
  content: "\e913";
}
.icon-x:before {
  content: "\e914";
}

// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/**************************************/
/*                                    */
/* !Buttons                           */
/*                                    */
/**************************************/
.echo-button {
	color: white;
	font-size: 18px;
	font-family: $kanit;
	font-weight: 500;
	font-style: italic;
	border-radius: 50px;
	text-decoration: none;
	padding: 5px 50px;
	min-height: 40px;
	transition: all 0.3s;
	border: 1px solid;
	position: relative;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;

	&--blue {
		@extend .echo-button;
		background-color: $blue;
		border-color: $blue;

		&:hover {
			background-color: white;
			color: $blue;
		}
	}

	&--red {
		@extend .echo-button;
		background-color: $red;
		border-color: $red;

		&:hover {
			background-color: white;
			color: $red;
		}
	}

	&--green {
		@extend .echo-button;
		background-color: $green;
		border-color: $green;

		&:hover {
			background-color: white;
			border-color: $green !important;
			color: $green;
		}
	}

	&--white {
		@extend .echo-button;
		background-color: $white;
		border-color: $white;
		color: $copy-color;

		&:hover {
			background-color: $blue;
			border-color: $blue;
			color: $white;
		}
	}

	&--outline-black {
		@extend .echo-button;
		background-color: $white;
		border-color: $copy-color;
		color: $copy-color;

		&:hover {
			background-color: $copy-color;
			border-color: $copy-color;
			color: $white;
		}
	}
}

/**************************************/
/*                                    */
/* !Landing Page                      */
/*                                    */
/**************************************/
#landing-page {
	.top-text {
		background-color: black;

		p {
			font-family: $kanit;
			color: white;
			font-style: italic;
			@include fluid-type($min_width, $max_width, 26px, 36px);
			font-weight: 500;
			padding: 11px 20px;
		}
	}

	.landing-page-content {
		height: calc(100vh - 91px);
		min-height: 700px;
		position: relative;

		.row {
			.col-12:nth-child(3) {
				@media screen and (max-width:768px) {
					order: 1;
				}
			}

			.content-wrap {
				position: relative;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				min-height: 250px;

				.tyre-deco {
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					max-width: 220px;

					@include media-breakpoint-up(md) {
						max-width: 300px;
					}

					@include media-breakpoint-up(xxl) {
						max-width: 370px;
					}
				}

				.box {
					position: relative;
					z-index: 1;

					.h3 {
						display: table;
						background-color: #fff;
						margin-bottom: -10px;
						padding: 15px 20px 14px;
						box-shadow: 0px 3px 6px #00000029;
						min-width: 300px;
						position: relative;

						@media screen and (min-width:960px) {
							min-width: 430px;
						}

						@include media-breakpoint-up(xxl) {
							padding: 26px 20px 25px;
							margin-bottom: -20px;
						}

						&::before {
							content: '';
							position: absolute;
							background-image: url(../images/ribbon-left.png);
							background-position: center;
							background-size: contain;
							width: 50px;
							height: 58px;
							top: 15px;
							left: -60px;

							@include media-breakpoint-up(xxl) {
								width: 68px;
								height: 80px;
								top: 25px;
								left: -75px;
							}
						}

						&::after {
							content: '';
							position: absolute;
							background-image: url(../images/ribbon-right.png);
							background-position: center;
							background-size: contain;
							width: 50px;
							height: 58px;
							top: 15px;
							right: -60px;

							@include media-breakpoint-up(xxl) {
								width: 68px;
								height: 80px;
								top: 25px;
								right: -75px;
							}
						}
					}
				}
			}

			.homepage {
				background: url(../images/bg-tyre-casings.png) no-repeat center;
				background-size: cover;

				@media screen and (min-width:768px) {
					background: none;
					position: absolute;
					z-index: 20;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					left: 0;
					right: 0;
					margin: 15px auto 0;
				}

				.landing-page-logo {
					height: 45px;
					
					@include media-breakpoint-up(xxl) {
						height: 55px;
					}
				}

				.content-wrap {
					.box {
						.h3 {
							padding: 8px 20px 14px;

							@include media-breakpoint-up(xxl) {
								padding: 15px 20px 26px;
							}
						}
					}
				}
			}
		}
	}
}

/**************************************/
/*                                    */
/* !Utilities                         */
/*                                    */
/**************************************/
.echo-object-fit-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.echo-block > div {
	padding: 40px 0;

	@include media-breakpoint-up(md) {
		padding: 80px 0;
	}
}

/**************************************/
/* !CF7, ACF & form fields            */
/**************************************/

input[type=text].echo-form-field,
input[type=search].echo-form-field,
input[type=password].echo-form-field,
input[type=email].echo-form-field,
input[type=tel].echo-form-field,
input[type=number].echo-form-field,
input[type=file].echo-form-field,
textarea.echo-form-field,
select.echo-form-field,
select.echo-form-field + .select2-container,
.acfe-form input[type=text],
.acfe-form input[type=search],
.acfe-form input[type=password],
.acfe-form input[type=email],
.acfe-form input[type=tel],
.acfe-form input[type=number],
.acfe-form input[type=file],
.acfe-form textarea,
.acfe-form select,
#loginform .login-username input[type=text],
#loginform .login-password input[type=password],
.echo-form-field input[type=text],
.echo-form-field input[type=search],
.echo-form-field input[type=password],
.echo-form-field input[type=email],
.echo-form-field input[type=tel],
.echo-form-field input[type=number],
.echo-form-field input[type=file],
.echo-form-field textarea,
.echo-form-field select {
	border: 2px solid $red;
    min-height: 48px;
    border-radius: 25px;
    padding: 10px 25px;
	color: black;
	font-family: $kanit;
	@include fluid-type($min_width, $max_width, 16px, 18px);

	&::placeholder {
		color: black;
		opacity: 1; /* Firefox */
	}

	&::-ms-input-placeholder { /* Edge 12 -18 */
		color: black;
	}
}

textarea.echo-form-field,
.echo-form-field textarea {
	height: 150px;
}

select.echo-form-field,
.echo-form-field select {
	background-image: url(../images/icon-arrow-down.png);
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 40px;
	background-position: right 25px center;
	background-size: 15px;

	option {
		color: $copy-color;
	}
}

.wpcf7-acceptance {
    font-size: .85em;

    .wpcf7-list-item {
      margin: 0;
	  display: block;

      label {
        display: flex;
        position: relative;
		align-items: center;

        &::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			background-color: white;
			border: 2px solid $blue;
			flex-basis: 27%;
			min-width: 32px;
			min-height: 32px;
			max-width: 32px;
			max-height: 32px;
			border-radius: 8px;

			@include media-breakpoint-up(sm) {
				min-width: 42px;
				min-height: 42px;
				max-width: 42px;
				max-height: 42px;
				border-radius: 15px;
			}
        }

        &.checked-label {
			&::before {
				background-image: url(../images/tick-icon.png);
				background-repeat: no-repeat;
				background-size: 40%;
				background-position: center;
			}
        }

        input[type=checkbox] {
          	appearance: none;
        }

        span {
			margin-left: 10px;
			vertical-align: middle;
			font-size: 15px;
			color: black;
			font-weight: bold;
			
        }
      }
    }
}

.echo-checkbox-label {
	display: flex;
	position: relative;
	align-items: center;
	@include fluid-type($min_width, $max_width, 16px, 18px);
	color: $blue;

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		border: 1px solid $blue;
		flex-basis: 27%;
		min-width: 18px;
		min-height: 18px;
		max-width: 18px;
		max-height: 18px;
		border-radius: 100px;
		margin-right: 7px;
	}

	&.checked-label {
		font-weight: bold;

		&::before {
			background-image: url(../images/tick-icon-white.png);
			background-repeat: no-repeat;
			background-size: 60%;
			background-position: center;
			background-color: $blue;
		}
	}

	input[type=checkbox] {
		appearance: none;
	}

	span {
		margin-left: 10px;
		vertical-align: middle;
		font-size: 15px;
		color: black;
		font-weight: bold;
		
	}
}

.file-upload {
	position: relative;

	input[type=file] {
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	.file-label {
		cursor: pointer;
		color: $blue;
		text-decoration: underline;
		@include fluid-type($min_width, $max_width, 18px, 20px);
		font-style: italic;

		&::before {
			content: '';
			background: url(../images/photo-icon.jpg) no-repeat center;
			background-size: cover;
			display: inline-block;
			vertical-align: sub;
			margin-right: 8px;
			width: 60px;
    		height: 42px;

			@include media-breakpoint-up(sm) {
				width: 73px;
				height: 51px;
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
}

/**************************************/
/*                                    */
/* !Header                            */
/*                                    */
/**************************************/
#header {
	border-top: 10px solid $blue;
	
	@include media-breakpoint-up(xxl) {
		border-top: 20px solid $blue;
	}

	.header-top {
		padding: 28px 0;

		.header-left {
			.header-logo {
				max-width: 180px;

				@media screen and (min-width:1600px) {
					max-width: 220px;
				}
			}

			.header-left-content {
				// @media screen and (max-width:1300px) {
				// 	display: block !important;
				// }

				.logo-24-7 {
					font-family: $kanit;
					font-weight: 500;
					// @include fluid-type($min_width, $max_width, 14px, 16px);
					color: #4D4D4D;

					img {
						@media screen and (max-width:1600px) {
							width: 40px;
						}
					}
				}

				.contact-details {
					@media screen and (max-width:1500px) {
						display: block !important;
					}

					.phone-number {
						font-family: $kanit;
						@include fluid-type($min_width, $max_width, 16px, 18px);

						span {
							font-weight: 700;
						}
					}
					.business-hours {
						@media screen and (max-width:1500px) {
							margin-left: 0 !important;
						}
						
						@include fluid-type($min_width, $max_width, 14px, 14px);

						span {
							color: $blue;
						}
					}
				}
			}
		}

		.my-account-btn {
			@include fluid-type($min_width, $max_width, 14px, 14px);
			font-family: $open-sans;
			font-style: normal;
			padding: 8px 30px;
		}

		.login-link {
			.icon {
				font-size: 32px;
				color: black;
			}
		}

		.mini-basket {
			.mini-basket-label {
				@include fluid-type($min_width, $max_width, 12px, 12px);

				@media screen and (max-width:1300px) {
					display: none;
				}
			}

			.icon {
				font-size: 32px;
				color: black;
			}
		}
	}

	.header-bottom {
		background-color: $red;
		text-align: center;
		@include fluid-type($min_width, $max_width, 14px, 14px);
		color: white;
		padding: 7px 0;
	}

	.header-menu {
		background-color: black;

		.menu-container {
			ul {
				display: flex;
				flex-direction: row;
				justify-content: center;

				li {
					a {
						padding: 12px 15px;
						@include fluid-type($min_width, $max_width, 14px, 14px);
						color: white;
						transition: all 0.3s;

						@include media-breakpoint-up(xxl) {
							padding: 12px 20px;
						}

						&:hover {
							background-color: $blue;
						}
					}
				}
			}
		}
	}

	#mobile-header {
		.mobile-header-top {
			padding-top: 15px;
			padding-bottom: 15px;

			.header-logo {
				max-width: 140px;
			}

			.login-link {
				.icon {
					font-size: 26px;
					color: black;
				}
			}

			.mini-basket {
				.icon {
					font-size: 28px;
					color: black;
				}
			}

			.navbar-toggler {
				border: 0;
				padding: 0;

				.navbar-toggler-icon {
					--bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2030%2030%22%3E%3Cpath%20stroke=%22%230052b4%22%20stroke-linecap=%22butt%22%20stroke-miterlimit=%2210%22%20stroke-width=%223%22%20d=%22M4%207h22M4%2015h22M4%2023h22%22/%3E%3C/svg%3E);
    				width: 41px;
				}
			}
		}
		
		.mobile-search {
			background-color: $red;
			padding: 10px 0;

			.aws-search-form {
				max-width: none;
			}
		}

		.offcanvas {
			width: 100%;
			top: 141px;
			background-color: black !important;
			border: 0;
		}

		.offcanvas-backdrop {
			z-index: auto;
			width: auto;
			height: auto;
		}

		#mobile-menu {
			li {
				a {
					color: white;
					@include fluid-type($min_width, $max_width, 16px, 16px);
				}
			}
		}
	}

	.aws-search-form {
		border: 1px solid #D6D6D6;
		border-radius: 25px;
		max-width: 190px;
		height: 40px;
		background-color: white;

		input[type=search],
		.aws-form-btn {
			border: 0;
			background: none;
		}

		input[type=search] {
			padding: 0 20px;
		}
	}
}

#footer {
	background: url(../images/footer-bg.png) no-repeat top;
	background-size: cover;
	background-position: top;
	padding: 140px 0 70px;
	margin-top: 40px;

	@include media-breakpoint-up(xl) {
		margin-top: 80px;
	}

	@media screen and (min-width:960px) {
		padding: 215px 0 130px;
	}

	.menu-label {
		margin-bottom: 30px;
	}

	.footer-links {
		li {
			&:not(:last-child) {
				margin-bottom: 20px;
			}

			a {
				color: white;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.footer-bottom {
		@media screen and (max-width:575px) {
			.contact-column {
				order: 0;
			}

			.col {
				order: 1;
			}
		}

		.social-links {
			align-self: flex-end;
			justify-content: space-evenly;
			width: 100%;

			@media screen and (max-width:575px) {
				justify-content: flex-start;
				margin: 20px 0 !important;
			}

			li {
				margin: 0 20px;

				@media screen and (max-width:575px) {
					margin: 0 20px 0 0;
				}

				a {
					color: white;
					text-decoration: none;
					@include fluid-type($min_width, $max_width, 26px, 32px);
					transition: all 0.3s;

					&:hover {
						color: $blue;
					}
				}
			}
		}
		
		.newsletter-form {
			.wpcf7 {
				max-width: none;
			}

			input[type=email] {
				background: none;
				border-radius: 0;
				border: 0;
				border-bottom: 1px solid white;
				padding: 15px 0;
				max-width: 265px;
				@include fluid-type($min_width, $max_width, 16px, 18px);

				&::placeholder {
					color: white;
					opacity: 1; /* Firefox */
				}

				&::-ms-input-placeholder { /* Edge 12 -18 */
					color: white;
				}
			}

			button {
				@extend .echo-button--white;
				margin-top: 20px;

				@media screen and (min-width:760px) {
					margin-top: 0;
					margin-left: 20px;
					align-self: center;
				}
			}

			@media screen and (max-width:760px) {
				.d-flex {
					display: block !important;
				}
			}
		}

		.copyright-section {
			margin-top: 35px;
			text-align: center;

			@media screen and (min-width:575px) {
				margin-top: 70px;
				text-align: left;
			}

			.copyright {
				@include fluid-type($min_width, $max_width, 14px, 14px);
			}
			
			.bottom-links {
				a {
					color: white;
					@include fluid-type($min_width, $max_width, 14px, 14px);
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				.divider {
					color: white;
					margin: 0 20px;
				}
			}
		}
	}

	.contact-column {
		min-width: 235px;
	}
}

/**************************************/
/* !- Product Archive                 */
/**************************************/
#product-archive {
	.woocommerce-loop-product__title {
		@extend .h5;
		color: $copy-color;
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		padding: 0;
		margin: 0;
	}

	.product {
		.entry-summary {
			.serial-number {
				@include fluid-type($min_width, $max_width, 16px, 18px);
				font-family: $kanit;
				color: #7C7C7C;
			}

			.stock {
				@include fluid-type($min_width, $max_width, 16px, 18px);
				font-family: $kanit;
				font-weight: 500;
			}

			// quantity
			.quantity-wrap {
				display: flex;

				.quantity {
					float: none;
					display: flex;
					align-items: center;

					.qty-button {
						border: 0;
						background-color: transparent;
						border-radius: 100px;
						border: 1px solid #D6D6D6;
						width: 34px;
						height: 34px;
					}

					input.qty {
						border-radius: 100px;
						width: 34px;
						height: 34px;
						border-color: #707070;
						font-weight: bold;
						font-family: $kanit;
						margin: 0 12px;

						&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}
					}
				}
			}

			// price
			.price-exc-vat {
				color: $red;
				font-weight: 500;
				@include fluid-type($min_width, $max_width, 20px, 28px);
				font-family: $kanit;

				small {
					font-family: $open-sans;
					@include fluid-type($min_width, $max_width, 10px, 10px);
					vertical-align: super;
					font-weight: inherit;
				}
			}

			.price-inc-vat {
				font-weight: 500;
				font-family: $kanit;
				color: black;
				@include fluid-type($min_width, $max_width, 16px, 18px);

				small {
					font-family: $open-sans;
					@include fluid-type($min_width, $max_width, 10px, 10px);
					vertical-align: super;
					font-weight: inherit;
				}
			}
		}
	}
}

.product-card {
	a {
		position: relative;

		.rating-badge {
			background-color: $blue;
			position: absolute;
			text-align: center;
			padding: 3px 12px;
			z-index: 1;
			top: 12px;
			right: -12px;

			.icon {
				color: #ffde1d;
				font-size: 14px;
			}

			span {
				color: white;
				display: block;
				@include fluid-type($min_width, $max_width, 14px, 16px);
				font-weight: 700;
				text-transform: uppercase;
				font-family: $kanit;
				letter-spacing: 1px;
			}

			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-top: 12px solid #000;
				border-right: 12px solid transparent;
				right: 0;
				bottom: -12px;
			}
		}
	}
	
	.stock-quantity {
		color: $green;
		font-family: $kanit;
		font-weight: 500;
	}

	.echo-button {
		@include fluid-type($min_width, $max_width, 16px, 18px);
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}

	.woocommerce-placeholder {
		border: 0 !important;
	}
}

.product-filter-wrap {
	.filter-title {
		text-align: center;
		color: $blue;
		position: relative;

		span {
			display: inline-block;
			background-color: white;
			padding: 0 30px;
			position: relative;
			z-index: 1;
		}

		&::before {
			content: '';
			position: absolute;
			height: 1px;
			left: 0;
			right: 0;
			background-color: $blue;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}

	#product-filter {
		background-color: #F0F0F0;
		padding: 40px 40px;

		.accordion {
			.acc-item {
				&:not(:last-child) {
					margin-bottom: 40px;
				}

				.acc-title {
					border-bottom: 1px solid $blue;
					position: relative;
					padding-bottom: 10px;
					margin-bottom: 15px;
					display: flex;
					align-items: center;
					justify-content: space-between;

					.icon {
						font-size: 10px;
					}

					.icon-minus {
						display: none;
					}
				}

				&.active {
					.acc-title {
						.icon-plus {
							display: none;
						}

						.icon-minus {
							display: block;
						}
					}
				}
			}
		}
	}
}

.back-to-search {
	display: inline-block;
	text-decoration: none;
	color: $copy-color;
	font-family: $kanit;
	font-weight: 400;

	span {
		display: inline-block;
		background-color: $red;
		color: white;
		line-height: 12px;
		width: 12px;
		text-align: center;
		font-weight: bold;
		border-radius: 100px;
		font-size: 8px;
		vertical-align: middle;
		margin-right: 6px;
	}
}

/**************************************/
/* !- Utility                         */
/**************************************/
.echo-object-fit-cover {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.echo-object-fit-contain {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: contain;
    object-position: center;
}

.text-blue {
	color: $blue;

	* {
		color: $blue;	
	}
}

.woocommerce {
	.woocommerce-pagination {
		.page-numbers {
			margin: 0;
			border: 0;

			li {
				margin: 0 8px;
				border: 0;

				a, span {
					width: 35px;
					height: 35px;
					border: 1px solid $blue;
					border-radius: 100px;
					font-weight: bold;
					padding: 9px 5px;

					&:hover, &.current {
						background-color: $blue;
						color: white;
					}
				}
			}
		}
	}
}

/**************************************/
/*                                    */
/* !Layouts                           */
/*                                    */
/**************************************/

.container {
	max-width: 1360px;
	padding: 0 20px;
}

.container-fluid {
	padding: 0 20px;

	// @include media-breakpoint-up(xxl) {
	// 	padding-left: 0;
	// 	padding-right: 0;
	// }
}

.col--equal-height {
	display: flex;
}

figure {
	margin-bottom: 0;
}

.site {
	overflow-x: clip;
}

.site-main {
	overflow-x: hidden;
}

/**************************************/
/* !- Block Layout                    */
/**************************************/

.block--margin {
	margin-top: var(--spacer);
	margin-bottom: var(--spacer);

	@include media-breakpoint-down(sm) {
		margin-top: var(--spacer-sm);
		margin-bottom: var(--spacer-sm);
	}

	@include media-breakpoint-only(sm) {
		margin-top: var(--spacer-md);
		margin-bottom: var(--spacer-md);
	}
}

.block--margin-sm {
	margin-top: var(--spacer-sm);
	margin-bottom: var(--spacer-sm);
}

.block--margin-md {
	margin-top: var(--spacer-md);
	margin-bottom: var(--spacer-md);
}

.block--margin-lg {
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);

	@include media-breakpoint-down(md) {
		margin-top: var(--spacer-md);
		margin-bottom: var(--spacer-md);
	}
}

.block--padded {
	padding-top: var(--spacer-md);
	padding-bottom: var(--spacer-md);

	@include media-breakpoint-up(lg) {
		padding-top: var(--spacer);
		padding-bottom: var(--spacer);
	}
}

.block--padded-sm {
	padding-top: var(--spacer-sm);
	padding-bottom: var(--spacer-sm);
}

.block--padded-md {
	padding-top: var(--spacer-md);
	padding-bottom: var(--spacer-md);

	@include media-breakpoint-down(sm) {
		padding-top: var(--spacer-sm);
		padding-bottom: var(--spacer-sm);
	}
}

.block--padded-lg {
	padding-top: var(--spacer-lg);
	padding-bottom: var(--spacer-lg);

	@include media-breakpoint-down(md) {
		padding-top: var(--spacer-sm);
		padding-bottom: var(--spacer-sm);
	}
}

.block--padding-top-none {
	padding-top: 0;
}

.block--margin-top {
	margin-top: var(--spacer);
}

.block--margin-top-none {
	margin-top: 0;
}

.block--margin-top-sm {
	margin-top: var(--spacer-sm);
}

.block--margin-top-none--sm {
	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}
}

.block--margin-md-top {
	margin-top: var(--spacer-md);
}

.block--margin-md-bottom {
	margin-bottom: var(--spacer-md);
}

.block--margin-bottom-none {
	margin-bottom: 0;
}

.block--margin-bottom {
	margin-bottom: var(--spacer);
}

.block--margin-bottom-sm {
	margin-bottom: var(--spacer-sm);
}

.block--margin-bottom-md {
	margin-bottom: var(--spacer-md);
}

.block--margin-bottom-lg {
	margin-bottom: var(--spacer-lg);
}

.block--fullwidth {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

/**************************************/
/* !- Block Background                */
/**************************************/

.block--bg {
	position: relative;
	overflow: hidden;
}

.block__bg,
img.block__bg {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.block--fg {
	position: relative;
	z-index: 2;
}

/****************************************/
/* !- Cookiyes cookie banner overlay    */
/* this will be specific for the cookie */
/* yes plugin                           */
/**************************************/
body .cky-consent-container .cky-consent-bar {
	max-width: 100% !important;
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 400px;
}
body .cky-consent-container {
	background: rgb(0 0 0 / 70%) !important;
	height: 100% !important;
	align-items: end !important;
	width: 100%;
	left: 0;
	bottom: 0;
	border-radius: 0;
}

.cky-switch input[type="checkbox"]:before {
	display: none !important;
}

@media screen and (max-width:500px) {
	body .cky-consent-container .cky-consent-bar {
		left: 0;
		bottom: 0;
	}
}

/**************************************/
/* !- Accordion Block                 */
/**************************************/
.accordion-block {
	.accordion-items {

	}

	.accordion-items__item {
		margin-bottom: 1.5rem;
	}

	.accordion-items__item__question {

		span {

		}
	}

	.accordion__answer {
		p {
			margin: 0;
		}
	}

	
}